:root {
    --color-dark: rgb(30, 30, 31);
    --color-light: rgb(228, 228, 228); 
    --grid-column-size: 400px;
    --line-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    color: var(--color-light);
}

html {
    padding: 30px;
}

body {
    max-width: 1200px;
    margin: auto;
}

.projects {
}

.group-projects {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    gap: var(--line-size);
}

.project-box {
    background-color: rgb(39, 39, 43);
    border: 0px transparent solid;
    border-radius: 4px;
}