:root {
    --color-dark: rgb(23, 23, 24);
    --color-dark-2: rgb(29, 29, 31);
    --color-light: rgb(228, 228, 228); 
    --grid-column-size: 400px;
    --line-size: 20px;

    --border-radius: 9px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    color: var(--color-light);
    font-family: 'Arimo', sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    padding: 15px;
    max-width: 1500px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    margin: 0px;
    padding: 20px;
    list-style: none;
    column-gap: 15px;
    z-index: 1;
}

li > a {
    color: var(--color-light);
    font-size: 22px;
}


header {
    width: 100%;
    height: 88vh;
    margin: 0;
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: inset 0px -210px 200px var(--color-dark);
}

.hero-textbox {
    padding: 15px;
    max-width: 1500px;
    margin: auto;
}

.hero-text {
    width: 40vw;
    margin: 0;
}


h1 {
    font-size: 55px;
}


h2 {
    font-size: 40px;
    font-weight: 500;
}

p, a {
    font-weight: 500;
    font-size: 18px;
}

a {
    color: rgb(84, 126, 240);
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: rgb(43, 93, 231);
}

.projects {
    padding: 15px;
    max-width: 1500px;
    margin: auto;
}

.group-projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: auto;
    gap: var(--line-size);
}

@media (width > 1100px) {
    .group-projects {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

.project-box {
    background-color: var(--color-dark-2);
    border: 0px transparent solid;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: 0.4s;
    box-shadow: 0px 5px 15px 5px rgb(24, 24, 24);
}


.image {
    background-image: url(/images/pizza.png);
    background-size: cover;
    background-position: top center;
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
    box-shadow: inset 0px -80px 50px -50px #2d3652;
    border-bottom: 5px solid rgb(84, 126, 240);;
}

.project-box > p{
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 1.6rem;
}

hr {
    border: 2px solid var(--color-light);
    border-radius: 3px;
    margin-bottom: 40px;
}